* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a:visited {
  color: inherit;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Equinox";
  src: url("../fonts/equinox.otf");
}
@font-face {
  font-family: "Steclo";
  src: url("../fonts/steclo.otf");
}
@font-face {
  font-family: "Tecnica Stencil";
  src: url("../fonts/tecnicastencil.otf");
}
@font-face {
  font-family: "Kharkiv Tone";
  src: url("../fonts/kharkivtone.otf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat.otf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.otf");
}
@font-face {
  font-family: "Blender";
  src: url("../fonts/blender.otf");
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(10, 10, 11);
  background: -moz-linear-gradient(0deg, rgb(10, 10, 11) 0%, rgb(68, 68, 68) 50%, rgb(110, 110, 110) 100%);
  background: -webkit-linear-gradient(0deg, rgb(10, 10, 11) 0%, rgb(68, 68, 68) 50%, rgb(110, 110, 110) 100%);
  background: linear-gradient(0deg, rgb(10, 10, 11) 0%, rgb(68, 68, 68) 50%, rgb(110, 110, 110) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0a0b",endColorstr="#6e6e6e",GradientType=1);
  padding: 0 25px;
}
.wrapper * {
  color: #fff;
  font-family: "Tecnica Stencil";
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  background: linear-gradient(107.46deg, rgba(255, 255, 255, 0.048) 1.21%, rgba(236, 236, 236, 0.2) 100%);
  border: 2px solid #000000;
  box-shadow: 0px 0px 9px #000000;
  backdrop-filter: blur(86px);
  border-radius: 10px;
  width: 100%;
}
@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.logotype {
  position: absolute;
  top: -3px;
  right: 50%;
  transform: translateX(50%);
}

.logotype__img {
  width: 200px;
  height: 60px;
  transform: translateY(-100%);
}
@media (max-width: 1170px) {
  .logotype__img {
    width: calc(150px + 50 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .logotype__img {
    height: calc(45px + 15 * ((100vw - 320px) / 850));
  }
}

.form {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1170px) {
  .form {
    padding-top: calc(40px + 20 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .form {
    padding-bottom: calc(40px + 20 * ((100vw - 320px) / 850));
  }
}

.form-item {
  position: relative;
  padding-bottom: 30px;
}

.form-item__input {
  height: 40px;
  width: 42vw;
  border: 2px solid #000000;
  outline: medium none;
  box-shadow: 0px 0px 3px #FFFFFF;
  -webkit-box-shadow: 0px 0px 3px #FFFFFF;
  -moz-box-shadow: 0px 0px 3px #FFFFFF;
  border-radius: 5px;
  -webkit-appearance: none;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
}
.form-item__input:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 767.98px) {
  .form-item__input {
    width: 70vw;
  }
}
@media (max-width: 1170px) {
  .form-item__input {
    height: calc(30px + 10 * ((100vw - 320px) / 850));
  }
}

.form-item__label {
  font-size: 14px;
  text-align: left;
  transform: translateY(-105%);
  position: absolute;
  top: 0;
  left: 3px;
  font-weight: 700;
  font-family: monospace;
  font-style: normal;
  font-size: 14px;
  font-family: "Blender";
  text-shadow: 0px 0px 6px #000;
  letter-spacing: 3px;
}
@media (max-width: 1170px) {
  .form-item__label {
    font-size: calc(12px + 2 * ((100vw - 320px) / 850));
  }
}

.form-box {
  display: flex;
  justify-content: space-between;
}

.form-box__item .form-item__input {
  width: 19vw;
}
@media (max-width: 767.98px) {
  .form-box__item .form-item__input {
    width: 33vw;
  }
}
.form-box__item:first-child {
  margin-right: 4vw;
}
@media (max-width: 767.98px) {
  .form-box__item:first-child {
    margin-right: 4vw;
  }
}

button {
  padding: 5px 0;
  box-sizing: border-box;
  height: 40px;
  min-width: 150px;
  transition: all 1s ease;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  letter-spacing: 3px;
  border: 2px solid #000000;
  box-shadow: 0px 0px 7px #FFFFFF;
  text-shadow: 0px 0px 4px #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
}
button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.form-item__option {
  font-weight: 700;
  font-size: 15px;
}

.form-item__input-amount {
  font-weight: 700;
}

/*# sourceMappingURL=form.css.map */
